<%= form_with(model: paper, local: true) do |form| %>
  <% if paper.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(paper.errors.count, "error") %> prohibited this paper from being saved:</h2>

      <ul>
      <% paper.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :title %>
    <%= form.text_field :title, id: :paper_title %>
  </div>

  <div class="field">
    <%= form.label :author %>
    <%= form.text_field :author, id: :paper_author %>
  </div>

  <div class="field">
    <%= form.label :abstract %>
    <%= form.text_field :abstract, id: :paper_abstract %>
  </div>

  <div class="field">
    <%= form.label :year %>
    <%= form.text_field :year, id: :paper_year %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
